.button {
  background-color: #006223;
  color: #ffffff;
  padding: 8px 24px;
  border-radius: 10px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  font-weight: 700;
}

.button:hover {
  background-color: #13803d;
}

/* Responsive */
@media (max-width: 768px) {
  .button {
    background-color: #006223;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 0.6rem;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: 600;
    width: 100;
  }
}
