.header {
  position: fixed;
  top: 0;
  z-index: 100;
  height: var(--navbar-height);
  width: 100%;
  background: rgba(2, 134, 43, 0.916);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.nav {
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  padding-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

.logo {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff; /* green */
  text-decoration: none;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link {
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
  transition: color 0.3s;
}

.link:hover {
  color: #16a34a;
}

/* Responsive */
@media (max-width: 768px) {
  .menu {
    gap: 12px;
  }
  .logo {
    font-size: 1.4rem;
    font-weight: bold;
    color: #ffffff; /* green */
    text-decoration: none;
  }
  .link {
    display: none;
  }
}
