.sidebar {
  /* position: fixed; */
  top: 72px; /* below navbar */
  left: 0;
  width: 260px;
  /* height: calc(100vh - 72px); */
  height: 100vh;
  background: rgba(2, 134, 43, 0.916);
  border-right: 1px solid #e6ece9;
  padding: 28px 20px;
  display: flex;
  flex-direction: column;
}

.brand {
  margin-bottom: 32px;
}

.logo {
  font-size: 1.3rem;
  font-weight: 700;
  color: #0f5f3a;
}

.sub {
  display: block;
  font-size: 0.8rem;
  color: #6b7280;
  margin-top: 2px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.link {
  padding: 12px 14px;
  border-radius: 10px;
  text-decoration: none;
  color: #374151;
  font-weight: 500;
  transition: background 0.2s, color 0.2s;
}

.link:hover {
  background: #f1f5f3;
}

.active {
  background: #e7f4ee;
  color: #0f5f3a;
  font-weight: 600;
}
