.layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.main {
  flex: 1;
  margin-left: 240px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.content {
  padding: 24px;
  flex: 1;
}

/* Mobile */
@media (max-width: 900px) {
  .main {
    margin-left: 0;
  }
}
